.navbar-brand {
    background-color: lightblue;
    
    
}

.ul {

    style="list-style: none;"
}

.img-r {
    position: relative;
    width: 250px;
    height: 250px;
    vertical-align: 100%
    flex: 50%;
}